*, *::before, *::after {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.1s ease;
}

::-webkit-scrollbar {
    height: 11px;
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    padding: 2px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border: 3px solid var(--white);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--primary);
}

body {
    background-color: var(--white);
}

.button {
    box-sizing: content-box;
    border-radius: 3px;
    border: 1px solid var(--gray);
    padding: 2px;
    padding-inline: 4px;
    background-color: var(--lightgray);
    color: var(--dark);
}

.button:hover {
    border: 1px solid var(--primary);
    cursor: pointer;
}

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    overflow: auto;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    overflow: auto;
}


.text {
    color: var(--dark);
}

.inputtext {
    border: 1px solid var(--gray);
    padding: 2px;
    padding-inline: 3px;
}

.inputtext:hover {
    border: 1px solid var(--primary);
    cursor: pointer;
}

.inputtext:focus {
    border: 1px solid var(--primary);
}

.hide {
    position: fixed;
    top: 0;
    opacity: 50%;
    background-color: rgba(10, 10, 10, 0.37);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.panel {
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: 6px;
    overflow: auto;
    border-radius: 3px;
    z-index: 200;
    width: 40%;
    height: 50%;
    margin-top: 10%;
}

.alert {
    margin-top: 10%;
    width: 40%;
    height: 30%;
}

.pages > .row > .button {
    font-size: 14px;
    border: 1px solid var(--gray);
    padding: 3px;
    padding-inline: 5px;
    border-bottom: none;
    background-color: var(--lightgray);
    border-radius: 4px 4px 0 0;
}

.pages > .row > .button:hover {
    border: 1px solid var(--primary);
    border-bottom: none;
}

.pages > .row > .button.active {
    background-color: var(--gray);
}

.pages > .row {
    column-gap: 2px;
}

.table {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tablecolumn > * {
    padding-inline: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tablecolumn .header {
    background: linear-gradient(var(--lightgray), var(--lightgray), var(--lightgray), var(--gray));
    
    border: 1px solid var(--gray);
    border-right: none
}

.tablecolumn:first-child > .header {
    border-radius: 5px 0 0 0;
}

.tablecolumn:first-child > * {
    border-left: 1px solid var(--gray);
}

.tablecolumn:last-child > * {
    border-right: 1px solid var(--gray);
}


.tablecolumn:last-child > .header {
    border-radius: 0 5px 0 0;
    border-right: 1px solid var(--gray);
}

.tablecolumn > :not(.header) {
    border-bottom: 1px solid var(--gray)
}

.tablecolumn:first-child > *:last-child {
    border-radius: 0 0 0 5px;
}

.tablecolumn:last-child > *:last-child {
    border-radius: 0 0 5px 0;
}

.fixed {
    position: fixed;
}

.layout {
    display: flex;
}

.footer {
    border-top: 1px solid var(--gray);
    padding: 10px;
    width: 100%;
}